---
---

<html>
  <head>
    <meta charset="utf-8">
    <title>Sailing Wearable</title>
  </head>
  <body>

    <h1>Sailing Wearable</h1>

    <p>Site do projeto da equipa.</p>

    <h2>Elementos da equipa</h2>
    <ul>
      <li>Nome 1</li>
      <li>Nome 2</li>
      <li>Nome 3</li>
    </ul>

    <p>
      <a href="/blog">Ir para o blog</a>
    </p>

  </body>
</html>